body {
  background-color: black;
}

h1 {
  color: #3f4738;
  text-align: center;
}

desc {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

buttonthingy {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}
